Python basics

In [1]:
1+5

6

In [2]:
4%2

0

4/2

In [3]:
5//2

2

In [5]:
(5*4)*2

40

In [6]:
type(40)

int

In [8]:
a=10
b=20
c=a+b
print("c")

c

In [9]:
True

True

In [3]:
a=10
b=20
a+b>30 | a-b<10

True

In [4]:
type(murali)

NameError: name 'murali' is not defined

In [6]:
a='murali'
type(a)

str

In [7]:
str

str

In [8]:
str('1')

'1'

In [9]:
str('1')

'1'

In [1]:
print(str)

<class 'str'>

In [2]:
str1= "A good Boy"
str2="A bad boy"

In [3]:
print(str1),print(str2)

A good Boy
A bad boy

(None, None)

In [8]:
str1+" "+str2

'A good Boy A bad boy'

In [10]:
name=input('enter your name')
print(name)

enter your namemuniraju
muniraju

In [12]:
a=int(input('enter the number1'))
b=int(input('enter the number 2'))
c=a+b
print('the output is',c)

enter the number122
enter the number 233
the output is 55

In [16]:
###string formatting
first_name=input('your name')
last_name=input('last name')
print('my first name is {firstname} last name{lastname} is ',first_name,last_name)

your namemuni
last nameraju
my first name is {firstname} last name{lastname} is  muni raju

In [18]:
## Strong Typing
'2'+'1'

'21'

In [27]:
####Conditional Statement
## if and elif
a=int(input('enter the number 1?'))
b=int(input('enter the number 2?'))
c=a-b
print('the output is',c)

if c<0:
    print ('the number is negative')
elif c>40:
    print('the number is Huge')
    
else:
    print('the number is positive')

IndentationError: unexpected indent (<ipython-input-27-c236c5fb84ca>, line 3)

Data structures
1.List
2.Tuple
3.String
4.Dictionary
5.sets

a=list([1,2,3,'muni','raju'])
print(a)

In [30]:
a=list(['muni','b','muni'])
print(a)

['muni', 'b', 'muni']

In [32]:
a.count('muni')

2

In [ ]:
str